
/* '스포카 한 산스 네오' 폰트 */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	
	font-family: 'Spoqa Han Sans Neo', 'sans-serif';
	
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


/* 
컬러차트
 
#4ecca3 - 초록색 (메인)
#eeeeee - 하얀색
#393e46/#9098a5 - 회색
#232931 - 검정색
 */
:root {
	--maingreen: #4ecca3;
	--mainwhite: #eeeeee;
	--maingray: #9098a5;
	--mainblack: #232931;
}


.position-back {
	position: absolute;
	z-index: 1;
}

.position-front {
	position: absolute;
	z-index: 2;
}

.block {
	display: inline-block;
	vertical-align: top;
}

.title {
	font-size: 2.2vw;
	font-weight: bold;
}

.subtitle {
	font-size: 1.7vw;
	font-weight: bold;
	width: 100%;
}